<h1 class="login-title">Log in</h1>

  <div class="login-container">
    <div class="login-form-container">
      <div class="login-text">
        Login
      </div>

      <div class="login-form">
        <form action="/sessions/login" method="post">
          <div>
            <input type="email" name="email" class="input-field" placeholder="Email" required>
          </div>
          <div>
            <input type="password" name="password" class="input-field" placeholder="Password" required>
          </div>
          <div>
            <button class="btn btn-success btn-block">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
