/* RealTimeProducts */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333333;
  }
  
  h2 {
    color: #ff99cc;
    text-align: center;
  }
  
  h3 {
    color: #ff99cc;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Formulario */
  .formLabel {
    display: block;
    margin-bottom: 10px;
    color: #666666;
  }
  
  .inputField {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .buttonForm {
    background-color: #ff99cc;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttonForm:hover {
    background-color: #ff66a3;
  }
  
  /* Productos */
  .productContainer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .productContainer h1 {
    color: #ff99cc;
    font-size: 20px;
    margin-top: 0;
  }
  
  .productContainer p {
    margin-bottom: 5px;
  }
  
  .deleteButton {
    background-color: #ff99cc;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    background-color: #ff66a3;
  }

  /* HOME  */

  
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333333;
  }
  
  h1 {
    color: #ff99cc;
    text-align: center;
    margin-top: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .productContainer {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f0f0f0;
  }
  
  .productContainer h1 {
    color: #ff99cc;
    font-size: 20px;
    margin-top: 0;
  }
  
  .productContainer p {
    margin-bottom: 5px;
  }
  
  /* CHAT */

.containerChat {
    background-color:#f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

span.username {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

#messages {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-height: 200px;
    background-color: #fff;
    overflow-y: scroll;
}

/* LOGIN */

body {
  font-family: Arial, sans-serif;
  background-color: #f0e8dc; 
  color: #333; 
}

.login-title {
  color: #ffadad; 
  text-align: center;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8edeb; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login-text {
  text-align: center;
  color: #f77e7e; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffb6b9; 
  border-radius: 5px;
}

.input-field[type="email"],
.input-field[type="password"] {
  width: 100%;
}

.btn {
  padding: 10px;
  background-color: #a4ebf3; 
  border: none;
  border-radius: 5px;
  color: #333; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #bde0f6; 
}

.btn-block {
  width: 100%;
}

/* REGISTER */


body {
  font-family: Arial, sans-serif;
  background-color: #f0e8dc; 
  color: #333; 
}

.registration-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8edeb; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ffb6b9; 
  border-radius: 5px;
}

.input-field[type="text"],
.input-field[type="email"],
.input-field[type="number"],
.input-field[type="password"] {
  width: 100%;
}

.btn {
  padding: 10px;
  background-color: #a4ebf3; 
  border: none;
  border-radius: 5px;
  color: #333; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #bde0f6; 
}

.btn-block {
  width: 100%;
}

